<!DOCTYPE html>
<html lang="en">  
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link rel="stylesheet" href="main.component.css">
        <link href='https://fonts.googleapis.com/css?family=Open Sans' rel='stylesheet'>
        
    </head>
    <body>
            <!-- Navigation -->
            <nav class="navbar navbar-expand-lg navbar-light bg-dark shadow fixed-top">
            <div class="container">
                <a class="navbar-brand" href="#">
                    <img src="assets/img/InvForms.png" width="125pt">
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                    </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                    <a class="nav-link text-light" href="#home">Home
                        <span class="sr-only">(current)</span>
                    </a>
                    </li>
                    <li class="nav-item ml-5">
                        <a class="nav-link text-light" href="#about">About</a>
                    </li>
                    <li class="nav-item ml-5">
                        <a class="nav-link text-light" href="#features">Features</a>
                    </li>
                    <li class="nav-item ml-5">
                        <a class="nav-link text-light" href="/login">Sign In</a>
                    </li>
                </ul>
                </div>
            </div>
            </nav>

            <!-- Full Page Image Header with Vertically Centered Content -->
            <header class="masthead" id="home">
                <div class="container h-100">
                    <div class="row h-100 align-items-center">
                        <div class="col-12 text-center">
                            <!-- <h1 class="font-weight-bold text-secondary">InvForms</h1> -->
                            <img src="assets/img/InvForms.png" alt="logo" width="550pt">
                            <br>
                            <h1 class="lead font-weight-normal text-secondary pt-2">A Great start for your Online Inventory</h1>
                        </div>
                </div>
            </div>
            </header>

            <!-- Page Content -->
            
            <section class="py-5 bg-light" >
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-md-7 wow slideInLeft">
                        <img src="assets/img/Warehouse.png" alt="logo" style="width: 700px;">
                    </div>
                    <div class="col-lg-4 col-md-5 pt-3 wow slideInRight mt-4" style="border-radius: 15pt;">
                        <h2 class="font-weight-normal pt-5" id="about">What is Warehouse ?</h2>
                        <p class="font-weight-normal text-secondary"> A place where you can store your item safely and a place to hold every additional item that will be sold or distributed later. But with many products and brand, can you manage your Warehouse well enough ?</p>
                        
                        
                    </div>
                </div>
            </div>
        </section>
        <section class="py-5 bg-light">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-6 wow slideInLeft jumbotron" style="border-radius: 15pt;">
                        <h2 class="font-weight-normal"> What is InvForms ?</h2>
                        <p class="font-weight-normal text-secondary"> Invforms is a place that assured for any business or retail that need to manage their warehouse management easily without any problems. Where you can search for the item if you had a problems to remember anything, just using our web-apps where everything will be done easily and safely.</p>
                    </div>
                    <div class="col-lg-6 col-md-6 wow slideInRight pl-5">
                        <img src="assets/img/InvFormsLogo.png"  alt="logo" style="width: 380pt;">
                            <!-- <img src="assets/img/Secure.png" alt="logo" style="width: 325pt;"> -->
                        </div>
                    </div>
                </div>
                </section>
        <section class="py-5 bg-light" id="features">
            <div class="container">
                <div class="wow fadeInUp">
                    <h1 class="text-center"> Our <strong class="text-secondary"> Features </strong> </h1>      
                </div>
            </div>
        </section>

        <section class="py-5 bg-light">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 py-5 custom wow fadeInLeft" style="padding-left: 40pt;">
                        <img src="assets/img/Secure.png" alt="secure" width="450pt">
                    </div>
                    <div class="col-lg-6 text-light custom2 text-center wow fadeInRight" style="padding-top: 140pt;">
                        <div class="container">
                            <h3 class="text-dark p-3">Secure Data</h3>
                            <hr style="width: 50%; border:  1px solid darkgray;">
                            <p class="text-light">Your account will not loss because it secured by the token, if someone access your account,</p>
                            <p><b class="text-dark">"Your Data Is Safe"</b></p>

                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6 custom2 text-center wow fadeInRight" style="padding-top: 140pt;">
                        <div class="container">
                            <h2 class="text-dark">Sync Data</h2>
                            <hr style="width: 50%; border:  1px solid darkgray;">
                            <p class="text-light">Manage your Warehouse and access it anywhere without</p>
                            <b class="text-dark">"Any problems"</b>
                        </div>
                    </div>
                    <div class="col-lg-6 custom py-5 wow fadeInLeft" >
                        <img src="assets/img/Sync.png" alt="sync" width="540pt">
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6 custom wow fadeInUp">
                        <img src="assets/img/Time.png" alt="time" width="550pt">
                    </div>
                    <div class="col-lg-6 custom2 text-center wow fadeInUp" style="padding-top: 120pt;">
                        <div class="container">
                            <h3 class="text-dark p-3">Save Time</h3>
                            <hr style="width: 50%; border:  1px solid darkgray;">
                            <p class="text-light">Manage your time in warehouse and focus on</p>
                            <p class="text-dark"><b>"Another Work"</b></p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

                <!-- <section class="py-5 bg-light">
                    <div class="container">
                        <div class="row">
                            <div class="col">
                                <img src="assets/img/Time.png" alt="logotime" width="300pt">
                                <h4 class="p-4"> Secure Your Time</h4>
                            </div>
                            <div class="col">
                                <img src="assets/img/Secure.png" alt="logosecure" width="300pt">
                                <h4 class="p-4"> Secure Your Account </h4>
                            </div>
                            <div class="col">
                                <img src="assets/img/Sync.png" alt="logosync" width="400pt">
                                <h4 class="" style="padding-left: 75pt;"> Secure Your Data</h4>
                            </div>
                        </div>
                    </div>
                </section> -->


            <section class="py-5 lol">
                <div class="container h-100">
                    <div class="row h-100 align-items-center">
                        <div class="col-12 text-center pt-5 wow fadeInUp">
                            <h2 class="font-weight-bold text-light"> Get Started With InvFroms Today </h2>
                            <button class="btn btn-lg btn-secondary mt-5">
                                 <a class="text-light text-decoration-none" href="/login">Get Started</a> 
                            </button>
                        </div>
                    </div>
                </div>
            </section>


    </body>

    
</html>

