.masthead {
    height: 100vh;
    min-height: 500px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('../../assets/img/ReverseWallpaper.png');
  }

.lol{
    height: 100vh;
    min-height: 500px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('../../assets/img/footer.png');
}

.custom{
  background-color: #3a3a3a;
}

.custom2{
  background-color: #717272;
}
