<!DOCTYPE html>
<html lang="en">  
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link rel="stylesheet" href="main.component.css">
        <link href='https://fonts.googleapis.com/css?family=Open Sans' rel='stylesheet'>
        
    </head>
    <body>
            <!-- Navigation -->
            <nav class="navbar navbar-expand-lg navbar-light bg-dark shadow fixed-top">
            <div class="container">
                <a class="navbar-brand" href="#">
                    <img src="assets/img/InvForms.png" width="125pt">
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                    </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                    <a class="nav-link text-light" href="#">Home
                        <span class="sr-only">(current)</span>
                    </a>
                    </li>
                    <li class="nav-item ml-5">
                        <a class="nav-link text-light" href="#">About</a>
                    </li>
                    <li class="nav-item ml-5">
                        <a class="nav-link text-light" href="#">Features</a>
                    </li>
                    <li class="nav-item ml-5">
                        <a class="nav-link text-light" href="/login">Sign In</a>
                    </li>
                </ul>
                </div>
            </div>
            </nav>

            <!-- Full Page Image Header with Vertically Centered Content -->
            <header class="masthead">
                <div class="container h-100">
                    <div class="row h-100 align-items-center">
                        <div class="col-12 text-center">
                            <!-- <h1 class="font-weight-bold text-secondary">InvForms</h1> -->
                            <img src="assets/img/InvForms.png" alt="logo" width="550pt">
                            <br>
                            <h1 class="lead font-weight-normal text-secondary pt-2">A Great start for your Online Inventory</h1>
                        </div>
                </div>
            </div>
            </header>

            <!-- Page Content -->
            
            <section class="py-5 bg-light">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-7 wow slideInLeft">
                        <img src="assets/img/InvFormsLogo.png"  alt="logo" style="width: 325pt;">
                    </div>
                    <div class="col-lg-6 col-md-5 wow slideInRight">
                        <h2 class="font-weight-normal">What is InvForms ? </h2>
                        <p class="font-weight-normal text-secondary">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quidem et, quos odit, mollitia porro officiis quam, quibusdam unde nihil eaque esse exercitationem error. Exercitationem atque pariatur nisi commodi assumenda cumque?</p>
                        <p class="font-weight-normal text-secondary">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Suscipit consequuntur illo eligendi recusandae, obcaecati laboriosam ut fugiat sint a distinctio. Eos nam quaerat sunt nulla at iure officiis deleniti dignissimos! </p>
                    </div>
                </div>
            </div>
            </section>
            <section class="py-5 bg-light">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 wow slideInLeft">
                            <h2 class="font-weight-normal">The Features of InvForms ? </h2>
                            <p class="font-weight-normal text-secondary"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis odit necessitatibus vitae totam dolore nulla ducimus, doloribus consequatur laborum pariatur, fuga minus soluta repudiandae repellat quis ea, perferendis at sed!</p>
                            <p class="font-weight-normal text-secondary"> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Rerum eius, nam ducimus temporibus quas repellendus maiores illum animi, aperiam laboriosam deleniti optio! Praesentium facere tenetur omnis quae eligendi amet debitis?</p>
                        </div>
                        <div class="col-lg-6 col-md-6 wow slideInRight">
                            <img src="assets/img/Secure.png" alt="logo" style="width: 325pt;">
                        </div>
                    </div>
                </div>
                </section>

                <!-- <section class="py-5 bg-light">
                    <div class="container">
                        <div class="row">
                            <div class="col">
                                <img src="assets/img/Time.png" alt="logotime" width="300pt">
                                <h4 class="p-4"> Secure Your Time</h4>
                            </div>
                            <div class="col">
                                <img src="assets/img/Secure.png" alt="logosecure" width="300pt">
                                <h4 class="p-4"> Secure Your Account </h4>
                            </div>
                            <div class="col">
                                <img src="assets/img/Sync.png" alt="logosync" width="400pt">
                                <h4 class="" style="padding-left: 75pt;"> Secure Your Data</h4>
                            </div>
                        </div>
                    </div>
                </section> -->


            <section class="py-5 lol">
                <div class="container h-100">
                    <div class="row h-100 align-items-center">
                        <div class="col-12 text-center">
                            <h2 class="font-weight-bold text-light"> Get Started With InvFroms Today </h2>
                            <button class="btn btn-lg btn-secondary mt-5">
                                 <a class="text-light" href="/login">Get Started</a> 
                            </button>
                        </div>
                    </div>
                </div>
            </section>


    </body>
    <script></script>
</html>

