<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <app-sidebar></app-sidebar>
    <div class="row">
        <div class="col-lg-2 h-100" ></div>
        <div class="col-lg-10 bg-secondary p-5 h-100">
            <div class="container h-100" >
                <section>
                    <h1 class="text-dark">Home</h1>
                    <br>
                </section>
                <section>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">Home</li>
                        </ol>
                    </nav>
                    <br>
                </section>
                
                <section class="pb-5">
                    <div class="card">
                        <div class="card-header bg-dark text-light">
                          Profile
                        </div>
                        <div class="card-body ">
                            <div class="row">
                                <div class="col-lg-2"></div>
                                <div class="col-lg-8 justify-content-center">
                                    <h2 class="d-flex justify-content-center text-dark p-3"> User Profile :</h2>
                                    <div class="row">
                                            <div class="col-lg-3">
                                                <div>
                                                    <label for="loginas" class="m-3 pt-1 pl-5">Login As :</label>
                                                </div>
                                                <div>
                                                    <label for="Email" class="m-3 pl-5">Email :</label>
                                                </div>
                                            </div>
                                            <div class="col-lg-9">
                                                <div class="row">
                                                    <div class="col-lg-10">
                                                        <form>
                                                            <div>
                                                                <!-- <input type="text" name="name" class="form-control m-3" disabled  value='{{data.Name}}'> -->
                                                            </div>
                                                            <div>
                                                                <input type="email" name="email" class="form-control m-3" disabled  value='{{data.Email}}'>
                                                            </div>
                                                        </form>
                                                    </div>
                                                    <div class="col-lg-2"></div>
                                                </div>
                                            </div>    
                                    </div>
                                    <a href="/inventory" class="text-light text-decoration-none">
                                        <button class="btn btn-block btn-dark mt-5">Go To Inventory</button>
                                    </a>
                                    <a href="/history" class="text-light text-decoration-none">
                                        <button class="btn btn-block btn-dark mt-2">Go To History</button>
                                    </a>
                                </div>
                                <div class="col-lg-2"></div>
                            </div>
                        </div>
                      </div>
                </section>
                <div style="padding-bottom: 20%;"></div>
                
            </div>
        </div>
    </div>
    
</body>
</html>