<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <app-sidebar></app-sidebar>
    <div class="row">
        <div class="col-lg-2" style="height: 100%;"></div>
        <div class="col-lg-10 bg-secondary p-5">
            <div class="container" style="height: 100%;">
                <section>
                    <h1 class="text-dark">Home</h1>
                    <br>
                </section>
                <section>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">Home</li>
                        </ol>
                    </nav>
                    <br>
                </section>
                <!-- TABLE LIST -->
                
            </div>
        </div>
    </div>
    
</body>
</html>